<html>
    <head>
        <title>New Bike Form</title>
    </head>

    <body>
        <form id="bike_form" method="post" action="">
            <table frame="box" align="center">
            <tbody>
            <tr>
                <td style="width: 195.4px; text-align: center;" colspan="2"><h1>Add a new bike</h1></td>
            </tr>
              {% csrf_token %}

            {% for field in form.visible_fields %}
                {{ field.errors }}

            <br />
            <tr>
            <td style="width: 195.4px;">{{ field.help_text }}</td>
            <td style="width: 465.6px;">{{ field }}</td>
            </tr>

            {% endfor %}

            <tr>
            <td style="height:40px; width:180px; text-align: center;" colspan="2"><input type="submit" name="submit" value="Add Bike" /></td>
            </tr>
            </tbody>
            </table>
        </form>
    </body>

</html>
