<html>
<body>

{% for items in thisPage %}
    {{ items.name|upper }}<br />
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if thisPage.has_previous %}
            <a href="?page={{ thisPage.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ thisPage.number }} of {{ thisPage.paginator.num_pages }}.
        </span>

        {% if thisPage.has_next %}
            <a href="?page={{ thisPage.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</body>
</html>
